{% comment %} {% extends '../base.html' %} {% endcomment %}

{% load widget_tweaks %}
{% block title %}
{% endblock title %}

<style>
  /* Button styles */
  button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    background: blue;
    width: 20%;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-top: 10px;
  }

  /* Button hover styles */
  button:hover,
  active,
  button:focus {
    background: #43A047;
  }

  /* Body styles */
  body {
    background-image: url('https://images.pexels.com/photos/3183150/pexels-photo-3183150.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-size: cover;
    background-position: center; 
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Form container styles */
  .main-agileinfo {
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 30px;
    border-radius: 10px; 
    text-align: center;
    width: 50%; /* Set width of the form container */
    margin-top: 200px; /* Adjust top margin */
  }
  
  /* Heading styles */
  h1 {
    text-align: center;
    color: black;
  }

  /* Form group styles */
  .form-group {
    margin-top: 20px;
    text-align: left;
  }

  /* Input field styles */
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%; /* Adjust the width as needed */
    height: 30px;
    border-radius: 5px; /* Rounds the corners of the input fields */
    border: 1px solid #ccc; /* Adds a border to the input fields */
    box-sizing: border-box; /* Ensures the padding and border are included in the width */
  }

  /* Label styles */
  label {
    display: block; /* Ensures each label appears on a new line */
    margin-bottom: 5px; /* Adds some space below each label */
    font-weight: bold; /* Makes the label text bold */
    color: black; /* Sets the color of the label text */
  }

  /* Logo image styles */
  img.logo {
    max-width: 100px; /* Set maximum width for the logo image */
    margin-bottom: 20px; /* Add some space below the logo */
    margin-top: -30px; /* Adjust top margin */
  }
</style>

{% block content %}
<!-- Main form container -->
<div class="main-agileinfo">
  <!-- Logo -->
  <img class="logo" src="/static/img/logo.png" alt="Logo">
  <!-- Heading -->
  <h1>Signup</h1>
  <!-- Signup form -->
  <form action="{% url 'accounts:signup' %}" method="post">
    {% csrf_token %}
    <!-- Non-field errors -->
    <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
      {% for error in form.non_field_errors %}
      <div class="text-warning">
        {{ error }}
      </div>
      {% endfor %}
    </div>
    <!-- Form fields -->
    {% for field in form %}
    <div class="form-group">
      <!-- Label for the field -->
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      <!-- Input field -->
      {% render_field field|attr:"required autofocus" class="form-control" placeholder=field.label %}
      <!-- Field errors -->
      <div class="{% if field.errors %} invalid{% endif %} text-danger">
        {% for error in field.errors %}
        <p class="help-block text-warning">{{ error }}</p>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
    <!-- Submit button -->
    <button type="submit">Sign Up</button>
  </form>
  <!-- Login link -->
  <p>Have an Account? <a href="{% url 'accounts:login' %}"> Login Now!</a></p>
</div>
{% endblock content %}
